.contact
	display: block
	padding: 50px 30px 50px 30px
	background-color: $darkGrey
	color: $lightGrey

	h2
		text-align: center

	.contactFlex

		.contactLinks
			width: 300px

		.contactForm

			.row-1 input
				width: 100%

			.row-2 textarea
				width: 100%

			.row-3 button
				float: right


@media (min-width: 640px)
	.row-1
		display: flex

@media (min-width: 775px)
	.contact
		margin-left: 135px


@media (min-width: 1000px)
	.contactFlex
		display: flex

		.contactForm
			flex-grow: 2
