body
	background-color: grey
	margin: 0
	padding: 0

	.navHeader
		background-color: white
		height: 86px

		.navPosistion
			display: flex
			flex-direction: row
			justify-content: flex-start


			.logo
				font-size: 60px
				margin: 0
				background-color: pink


			.siteNav

				ul
					text-decoration: none
					list-style: none
					text-align: center
					padding: 0

					li



			.mobileNavToggle
				background: #333
				width: 50px
				height: 3px







	// .navHeader
	// 	width: 135px
	// 	background-color: white
	//
	// 	.navPosistion
	// 		display: flex
	// 		flex-direction: column
	// 		align-content: space-between
	// 		height: 100vh
	//
	// 		.logo
	// 			font-size: 60px
	// 			background-color: pink
	// 			text-align: center
	// 			margin: 0
	//
	// 		.siteNav
	// 			background-color: pink
	//
	// 			ul
	// 				list-style: none
	//
	// 				li
	// 					text-align: right
	// 					padding: 0 10px
	// 					margin-bottom: 40px
	//
	// 					a
	// 						text-decoration: none
	// 						color: black
