body
	background-color: grey
	margin: 0
	padding: 0

	.navHeader
		background-color: white
		height: auto

		.navPosistion
			display: flex
			flex-direction: row
			justify-content: space-between
			align-items: center


			.logo
				font-size: 60px
				margin: 0
				background-color: pink
				margin: 10px 20px

			.siteNav

				ul
					display: none
					list-style: none
					text-align: center
					padding: 0
					background-color: honeydew

					li

						a
							display: block
							text-decoration: none
							color: black

							&:hover
								background: black
								color: white


			.mobileNavToggle
				// background-color: pink
				height: 50px
				width: 50px
				margin: 0 20px 0 0
				display: flex
				align-items: center
				cursor: pointer

				span,
				span:before,
				span:after
					content: ""
					display: block
					background-color: #333
					height: 3px
					width: 50px
					position: relative

				span:before
					top: 15px

				span:after
					bottom: 18px

				&:hover span
					background: transparent

				&:hover span:before
					background: red

				&:hover span:after
					background: red
