.homeFlex
	color: $darkGrey
	background-color: $lightGrey
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	margin: 0
	padding: 0
	text-align: center
	height: 100vh

.col-1
	max-width: 300px
	margin: 0 10px

	h1f4f4f
		font-size: 40px

	span
		display: block
		height: 1px
		background-color: $darkGrey

.col-1:nth-child(1)
	display: none

@media (min-width: 640px)
	.homeFlex
		flex-direction: row
		justify-content: center
		height: 600px

		.col-1:nth-child(1)
			display: block
			visibility: hidden
black
