.skills
	padding: 50px 0 50px 0
	background-color: blue

	h2
		margin: 0
		text-align: center

	.skillsFlex
		min-height: 600px
		display: flex
		flex-direction: row
		flex-wrap: wrap
		align-items: center
		justify-content: space-around

		.col-4
			padding: 10px 10px

			img
				width: 145px
				height: 145px

@media (min-width: 640px)
	.col-4
		margin: 10px 10%


@media (min-width: 775px)
	.skills
		margin-left: 135px
